.modal {
    position: fixed;
    z-index: 1000;
    left: 0; top: 0; width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Hintergrund verblassen */
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px; /* maximale Breite */
    box-sizing: border-box;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.attachment-list {
    list-style: none;
    padding-left: 0;
}

.attachment-name {
    color: black;          
    text-decoration: none;  
    display: inline-block;
    max-width: calc(100% - 50px); /* Platz für Mülltonne */
    overflow-wrap: break-word;
}
